*,
*:after,
*:before{
    box-sizing: border-box;
    user-select: none;
}

html{
    font-size: calc(100vw / 1920 * 10);
    line-height: 1;

    position: fixed;

}

body{


    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
}

a{
    outline: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


img{
    //     opacity: 0;
    transition: 0.4s opacity ease;
    //     vertical-align: middle;

    //     &.loaded {
        //        opacity: 1;
        //     }
}

// canvas{
//     position: relative;
//     z-index: 10; 
// }

button{
    color: inherit;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
}